---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Nosotros"
	description="Sobre Nosotros"
	pubDate={new Date('June 29 2023')}
	heroImage="/blogMarvel.webp"
>
	<h2 class="text-2xl text-center mb-5">
		"Blog Marvel: Donde el Universo Cinematográfico Cobre Vida"
	</h2>
	<p>
		En un mundo lleno de héroes, villanos, y aventuras cósmicas, el blog de noticias Marvel es el faro de luz que guía a los fans a través del vasto Universo Cinematográfico de Marvel (MCU). Desde los rincones más oscuros de la galaxia hasta las calles de Nueva York, este blog es tu destino definitivo para todas las actualizaciones, rumores y secretos del emocionante mundo de Marvel.
	</p>
	<h3 class="mb-3 font-semibold">
		Explorando el Multiverso Marvel
	</h3>
	<p>
		¿Te has preguntado alguna vez qué está pasando en el multiverso Marvel? Nuestro blog te mantendrá al tanto de las últimas noticias sobre las películas y series de televisión de Marvel. Desde el regreso del Dios del Engaño, Loki, hasta el viaje interdimensional de Doctor Strange, cada nueva aventura se despliega aquí, detallada y analizada.
	</p>
	<h3 class="mb-3 font-semibold">
		Entrevistas Exclusivas
	</h3>
	<p>
		No te pierdas nuestras entrevistas exclusivas con actores, directores y creadores que dan vida a tus personajes favoritos. Descubre los secretos detrás de escena, anécdotas divertidas y las pasiones que impulsan a los artistas que hacen posible el MCU.
	</p>
	<h3 class="mb-3 font-semibold">
		Teorías y Rumores
	</h3>
	<p>
		Nuestros expertos están siempre un paso adelante, desentrañando teorías y rumores sobre lo que el MCU tiene reservado para el futuro. ¿Un enfrentamiento épico entre los Vengadores y los X-Men? ¿Un regreso inesperado de un villano clásico? Lo cubrimos todo.
	</p>
	<h3 class="mb-3 font-semibold">
		Revisión de Cómics Clásicos
	</h3>
	<p>
		No olvidamos las raíces. Sumérgete en el mundo de los cómics clásicos de Marvel con nuestras reseñas y análisis. Descubre cómo las historias atemporales de Spider-Man, los X-Men y los Cuatro Fantásticos continúan influyendo en el MCU
	</p>
	<p>
		El blog de noticias Marvel es más que un sitio web: es un portal a un universo lleno de imaginación, acción y emociones. Acompáñanos mientras exploramos el vasto mundo de Marvel, desentrañamos sus misterios y celebramos la magia que ha cautivado a generaciones de fans en todo el mundo. ¡Prepárate para un viaje emocionante más allá de las estrellas y las dimensiones!
	</p>
</Layout>
